In [1]:
import pandas as pd

Read data From DataSets...
# This for csv files only ...
data=pd.read_csv('supermarket_sales - Sheet1.csv', encoding='latin-1')
# This is for json files only....
data=pd.read_json('supermarket_sales - Sheet1.csv', encoding='latin-1')
# This for excel files only ...
data=pd.read_excel('supermarket_sales - Sheet1.csv', encoding='latin-1')

In [11]:
# This for csv files only ...
data=pd.read_csv('supermarket_sales - Sheet1.csv', encoding='latin-1')
# it shows top 7 data from dataset...
data.head(7)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8

In [12]:
# it is use for show last 10 data from dataset...
data.tail(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# Describe Method...

In [14]:
data.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [15]:
data.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [16]:
data.dropna()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [20]:
data.shape
data.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

# Select A row

In [22]:
# For a single Column
col=data["Rating"]
col.head()

0    9.1
1    9.6
2    7.4
3    8.4
4    5.3
Name: Rating, dtype: float64

In [24]:
# for multi column selection...
col_multi = data[["Rating", "Total"]]
print(col_multi)

     Rating      Total
0       9.1   548.9715
1       9.6    80.2200
2       7.4   340.5255
3       8.4   489.0480
4       5.3   634.3785
..      ...        ...
995     6.2    42.3675
996     4.4  1022.4900
997     7.7    33.4320
998     4.1    69.1110
999     6.6   649.2990

[1000 rows x 2 columns]

In [32]:
# Filter the single row....
df=data[data["Tax 5%"]>23.00]
print(df)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
3    123-19-1176      A     Yangon        Member    Male
46   370-41-7321      B   Mandalay        Member    Male
50   326-78-5178      C  Naypyitaw        Member    Male
55   399-46-5918      C  Naypyitaw        Normal  Female
..           ...    ...        ...           ...     ...
892  607-76-6216      C  Naypyitaw        Member  Female
906  450-42-3339      C  Naypyitaw        Normal    Male
959  384-59-6655      A     Yangon        Member  Female
970  746-04-1077      B   Mandalay        Member  Female
989  430-53-4718      B   Mandalay        Member    Male

               Product line  Unit price  Quantity   Tax 5%     Total  \
0         Health and beauty       74.69         7  26.1415  548.9715
3         Health and beauty       58.22         8  23.2880  489.0480
46        Health and beauty       56.69         9  25.5105  535.7205
50       Food and beverages       91.40         7  31.9900  671.7900
55   Electronic accessories       85.98         8  34.3920  722.2320
..                      ...         ...       ...      ...       ...
892     Fashion accessories       92.49         5  23.1225  485.5725
906       Health and beauty       84.61        10  42.3050  888.4050
959      Food and beverages       98.66         9  44.3970  932.3370
970      Food and beverages       84.63        10  42.3150  888.6150
989       Health and beauty       75.37         8  30.1480  633.1080

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
46   2/27/2019  17:24  Credit card  510.21                 4.761905
50    2/3/2019  10:19         Cash  639.80                 4.761905
55   2/28/2019  19:01         Cash  687.84                 4.761905
..         ...    ...          ...     ...                      ...
892   3/2/2019  16:35  Credit card  462.45                 4.761905
906   2/9/2019  18:58  Credit card  846.10                 4.761905
959  2/19/2019  15:07         Cash  887.94                 4.761905
970   1/1/2019  11:36  Credit card  846.30                 4.761905
989  1/28/2019  15:46  Credit card  602.96                 4.761905

     gross income  Rating
0         26.1415     9.1
3         23.2880     8.4
46        25.5105     8.4
50        31.9900     9.5
55        34.3920     8.2
..            ...     ...
892       23.1225     8.6
906       42.3050     8.8
959       44.3970     8.4
970       42.3150     9.0
989       30.1480     8.4

[77 rows x 17 columns]

In [37]:
# filter data by select multiple rows
filtered_data = df[(df['Rating'] > 6.1) & (df['gross income'] >= 23.2880)]
filtered_data.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
46,370-41-7321,B,Mandalay,Member,Male,Health and beauty,56.69,9,25.5105,535.7205,2/27/2019,17:24,Credit card,510.21,4.761905,25.5105,8.4
50,326-78-5178,C,Naypyitaw,Member,Male,Food and beverages,91.40,7,31.9900,671.7900,2/3/2019,10:19,Cash,639.80,4.761905,31.9900,9.5
55,399-46-5918,C,Naypyitaw,Normal,Female,Electronic accessories,85.98,8,34.3920,722.2320,2/28/2019,19:01,Cash,687.84,4.761905,34.3920,8.2
62,347-34-2234,B,Mandalay,Member,Female,Sports and travel,55.07,9,24.7815,520.4115,2/3/2019,13:40,Ewallet,495.63,4.761905,24.7815,10.0
67,109-28-2512,B,Mandalay,Member,Female,Fashion accessories,97.61,6,29.2830,614.9430,1/7/2019,15:01,Ewallet,585.66,4.761905,29.2830,9.9
70,393-65-2792,C,Naypyitaw,Normal,Male,Food and beverages,89.48,10,44.7400,939.5400,1/6/2019,12:46,Credit card,894.80,4.761905,44.7400,9.6
74,287-21-9091,A,Yangon,Normal,Male,Home and lifestyle,74.67,9,33.6015,705.6315,1/22/2019,10:55,Ewallet,672.03,4.761905,33.6015,9.4
93,152-08-9985,B,Mandalay,Member,Male,Health and beauty,64.36,9,28.9620,608.2020,3/12/2019,12:09,Credit card,579.24,4.761905,28.9620,8.6